<!-- welcome.index.html.erb -->

<h1>Compartment App</h1>

    <a href="/session/new">Login</a>

    <a href="/users/new">  Sign Up</a>

      <% @users.each do |user| %>
        <li><br><strong>First Name:</strong> <%= user.first_name%>,<strong>Last Name:</strong> <%= user.last_name%>, <strong>Email:</strong> <%= user.email %>
      <% end %>
    </ul>
