<!-- welcome.index.html.erb -->

<h1>Compartment App</h1>
<strong>An idea and knowledge management app. Depending on what you are woking on the Compartment App allows you to create a structure to store and manage content. </strong>
<br>
<% if user_logged_in?%>

 <h2>Website Homepage</h2>
  <p>
    <a href="/users">I'm a logged in User, take me to my dash.</a>
  </p>

  <% else %>
    <a href="/session/new">Login</a>

    <a href="/users/new">  Sign Up</a>

<% end %>
